---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/9802/casts?api_key=bcd158ce3aca8369ca10bc884546da6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"a4b53abb8abbf1123e4694b8a3751f8c"'
      X-Memc:
      - HIT
      X-Memc-Age:
      - '10515'
      X-Memc-Expires:
      - '18285'
      X-Memc-Key:
      - ddcd08c228a72e0988300f926222630b
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1503171172'
    body:
      encoding: UTF-8
      string: '{"id":9802,"cast":[{"cast_id":20,"character":"John Patrick Mason","credit_id":"52fe4530c3a36847f80c12b5","gender":2,"id":738,"name":"Sean
        Connery","order":0,"profile_path":"/ce84udJZ9QRSR44jxwK2apM3DM8.jpg"},{"cast_id":2,"character":"Dr.
        Stanley Goodspeed","credit_id":"52fe4530c3a36847f80c1253","gender":2,"id":2963,"name":"Nicolas
        Cage","order":1,"profile_path":"/fW37Gbk5PJZuXvyZwtcr0cMwPKY.jpg"},{"cast_id":3,"character":"Brigadier
        General Francis X. Hummel, USMC","credit_id":"52fe4530c3a36847f80c1257","gender":2,"id":228,"name":"Ed
        Harris","order":2,"profile_path":"/a9ITc3shCAWjV4qKf3rgR0Opu3y.jpg"},{"cast_id":4,"character":"FBI
  [...]
